.kh-table-wrap{
    width:100%;
}

a{
    margin:0 5px;
}

.kh-table-wrap table{
    width:80%;
    margin: 0 auto;
    overflow-y: scroll;
}
td{
    padding: 0.5rem 1rem;
    text-align: center;
}

tr:first-child{
    background-color: black !important;
    color:white !important;
}

tr:nth-child(even){
    background-color: #ccc;
}

tr:nth-child(odd) {
    background-color: #eee;
}
