#kh_meeting_upload_form {
    display: flex;
    flex-flow: column nowrap;
}

#kh_meeting_upload_form input,
#kh_meeting_upload_form select {
    width: 400px;
    margin: 1rem auto
}

.kh-success-msg {
    color: white;
    background-color: green;
    font-size: 18px;
    padding: 1rem;
    border-radius: 15px;
    margin: 0 auto;
}
